*{
    margin: 0;
    padding: 0;
}
.cont{
    width: 1200px;
    margin:0 auto;
   

}
.head{
    background: rgb(72, 146, 189);
    height: 100px;
}
.logo{
    float: left;
    padding: 10px;
}
.menu{
    float: right;
}
.menu ul{
    list-style:none;
    padding-top: 30px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
}
.logo p{
    font-size: 30px;
    float: right;
    padding: 20px;
    color: rgb(165, 7, 7);
    


    ;
}
/* Header part End */
/* Banner part start */
.banner img{
    width: 400px;
    height: 200px;
}

/* Banner part End */
/* Title part start */
.title h4{
    text-align: center;
    font-size: 35px;
    padding: 3px;
    background-color: blueviolet;
}
/* Title part end */
/* Services Box start */
.services-box{
    background-color: brown;
    overflow: hidden;
}
.singular-service{
    width: 200px;
    padding: 40px;
    float: left;
}
.singular-service img{
    width: 100%;
    display: block;
}
.singular-service h2{
    padding: 10px;
    text-align: center;
}
.singular-service p{
    padding: 10px;
}
.singular-service a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px; 10px;
    background: red;
    color: #fff;
    border-radius: 10px;
}

/* Services Box End */



